{% comment %} <div class="row">
    <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">USA</h5>
                <p class="card-text">State Card</p>
                <a href="{% url 'usaid' %}" class="btn btn-primary">Сделать</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ukraine</h5>
                <p class="card-text">International Passport</p>
                <a href="#" class="btn btn-primary">Получить</a>
            </div>
        </div>
    </div
 {% endcomment %}
